@charset "UTF-8";

#BackgroundGeneratorBookmarklet, #BG_selectValue, #BG_inputValue {
  color: #333333;
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  font-size: 12px;
  line-height: 17px;
  padding: 0;
  margin: 0;
}

#BackgroundGeneratorBookmarklet {
  position: fixed;
  top: -125px;
  left: 0;
  right:0;
  margin: auto;
  width: 178px;
  height: 112px;
  background-color: #e2e2e2;
  background: linear-gradient(to bottom, #e6e6e6 0%, #efefef 50%, #e2e2e2 100%);
  border-radius: 0 0 3px 3px;
  z-index: 999999999999;
  box-shadow: 0 0 0 1px #666, 0 0 15px 4px #333;
  transition: top 1s;
}

#BG_downloadButton, #BG_backButton, #BG_forwardButton, #BG_homeButton {
  position: absolute;
  cursor: pointer;
}

#BG_downloadButton {
  height: 32px;
  width: 32px;
  right: 0;
  bottom: 5px;
  left: 0;
  margin: auto;
  background: url('/bg/images/img/download.png') no-repeat center;
}

#BG_downloadButton:active {
  background: url('/bg/images/img/download-active.png') no-repeat center;
}

#BG_backButton {
  background: url('/bg/images/img/back.png') no-repeat center;
  width: 32px;
  height: 32px;
  left: 7px;
  top: 38px;
}

#BG_forwardButton {
  background: url('/bg/images/img/forward.png') no-repeat center;
  width: 32px;
  height: 32px;
  right: 7px;
  top: 38px;
}

#BG_backButton:active {
  background: url('/bg/images/img/back-active.png') no-repeat center;
}

#BG_forwardButton:active {
  background: url('/bg/images/img/forward-active.png') no-repeat center;
}

#BG_homeButton {
  background: url('/bg/images/img/octocat.png') no-repeat center;
  width: 16px;
  height: 16px;
  bottom: 4px;
  right: 4px;
  opacity: 0.5;
}

#BG_homeButton:hover {
  opacity: 0.6;
}

#BG_selectValue {
  position: absolute;
  left: 0;
  right: 0;
  top: 37px;
  margin: auto;
  width: 80px;
  height: 23px;
}

#BG_inputValue {
  position: absolute;
  top: 7px;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
}

#BG_statFace {
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  margin: auto;
  width: 117px;
  font-size: 10px;
  height: 18px;
  text-align: center;
}
